<nav class="bottom-navbar">
  <div class="nav-item" routerLinkActive="active"  routerLink="To Do List" >
    <i class="material-icons">check_circle</i>
    <span>TASKS</span>
  </div>
  <div class="nav-item" routerLinkActive="active" routerLink="Focus">
    <i class="material-icons">adjust</i>
    <span>FOCUS</span>
  </div>
  <div class="nav-item" routerLinkActive="active" routerLink="Lists">
    <i class="material-icons">list</i>
    <span>LISTS</span>
  </div>
  <div class="nav-item" routerLinkActive="active" routerLink="Setting">
    <i class="material-icons">settings</i>
    <span>SETTINGS</span>
  </div>
</nav>
